.container-fluid{
	position: absolute;
}

.title{
	font-family: monospace;
}

.estremo {
	background-color: green;
	color: white;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
}

.estremo-orange {
	background-color: orange;
	color: black;
}

.estremo-red {
	background-color: red;
	color: red;
}

.footer{
	position: fixed;
	bottom: 20px;
	width: 100%;
}

.sudore{
	transition: opacity 100ms;  
	opacity: 0;
}

#wrapper{
	width: 100%;
	height: 100%;
}

#paga{
	opacity: 0;
	font-family: monospace;
}

#container{      
   width: 100%;
   height: 100%;      
   position: absolute;
   padding: 0;   
	 opacity: 0;
} 

#gimmick {
	display:block;
	pointer-events:none;
	position: absolute;
	top:0;
	left:0;
}
